.BasicLayout {
  height: 100vh;
  width: 100vw;
  background: rgba(119, 11, 11, 0.39);

  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 200px;
  grid-template-rows: 1fr;

  grid-template-areas:
    "chess aside"
    "chess aside"
    "chess aside"
    "chess aside";
}
